<!DOCTYPE html>
<html>
<head>
    <title>Robotic Arm Control</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Robotic Arm Control</h1>

    <div id="videoFeed">
        <img src="/video_feed">
    </div>

    <div id="controls">
        <button id="up" onmousedown="move('w')" onmouseup="stop()">Up</button>
        <button id="down" onmousedown="move('s')" onmouseup="stop()">Down</button>
        <button id="left" onmousedown="move('a')" onmouseup="stop()">Left</button>
        <button id="right" onmousedown="move('d')" onmouseup="stop()">Right</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function move(direction) {
            $.post("/move", {direction: direction});
        }

        function stop() {
            $.post("/stop");
        }
    </script>
</body>
</html>
